<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/trucks">Trucks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/addTruck">AddTruck</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/addParcle">AddParcel</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>

<!-- https://tse3.mm.bing.net/th?id=OIP.X4Ddid-k8X9F7SqO3lbv_gHaE7&pid=Api&P=0&w=239&h=159 -->

  <!-- https://tse2.mm.bing.net/th?id=OIP.n-DEqv0SFxI5cC1Htj9m8gHaGc&pid=Api&P=0&w=220&h=191 -->